* {
  user-select: none;
}

body {
  width: 80%;
  margin: 0 auto;
}

table {
  border-collapse: separate;
  border-spacing: 1px;
}

table td:hover {
    background-color: rgba(0,0,0,.075);
}

.table td {
  padding: 7px;
}

h6 {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.cell-today {
  border: teal solid 3px !important;
}

.bs_date {
  color: green;
  float: left;
}

.ad_date {
  color: chocolate;
  float: right;
}

.for_lunar {
  color: teal;
  font-size: 12px;
}

.saturday {
  color: red;
}

#footer {
  color: teal;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

#footer:hover {
  font-weight: bold;
  /* letter-spacing: 1.1px; */
}

.form-inline {
  width: 100%;
}

#previous, #next {
  flex: 1;
}

#default {
  flex: 2;
}

#solarnsconverter {
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  color: darkcyan;
  font-size: 22px;
  text-decoration: none;
}

#solarnsconverter:hover {
  color: teal;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .cell-today {
    border: teal solid 2px !important;
  }

  .form-inline {
    align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 555px) {
  .table th {
    margin: 2px;
    padding: 15px;
    font-size: 12px;
  }

  .for_lunar {
    font-size: 11px;
  }
}

@media only screen and (max-width: 490px) {
  .table th {
    padding: 10px;
  }

  td span h4 {
    font-size: 17px;
    margin: 0;
  }

  td span .for_lunar {
    font-size: 9px;
  }

  .cell-today {
    border: teal solid 1px !important;
  }

  .bs_date, .ad_date {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  body {
    width: 100%;
  }

  .table th {
    padding: 10px;
    font-size: 9px;
  }

  .table td {
    padding: 5px;
  }

  td span h4 {
    font-size: 15px;
    margin: 0;
  }

  .bs_date, .ad_date {
    font-size: 10px;
  }
}
