.ns_date_left {
  color: green;
  float: left;
}

.bs_date_right {
  color: chocolate;
  float: right;
}

.ad_date_left {
  color: green;
  float: left;
}

.ns_date_right {
  color: chocolate;
  float: right;
}
