* {
  user-select: none;
}

body {
  width: 80%;
  margin: 0 auto;
}

table td:hover {
    background-color: rgba(0,0,0,.075);
}

h6 {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.bs_date {
  color: green;
  float: left;
}

.ad_date {
  color: chocolate;
  float: right;
}

.for_lunar {
  color: teal;
  font-size: 11px;
}

.saturday {
  color: red;
}

#footer {
  color: teal;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

#footer:hover {
  font-weight: bold;
  /* letter-spacing: 1.1px; */
}

@media only screen and (max-width: 660px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }

  th {
    font-size: 11px;
  }

  .table td {
    padding: 5px;
  }

  td span h4 {
    font-size: 15px;
    margin: 0;
  }

  td span .for_lunar {
    font-size: 9px;
  }

  .bs_date, .ad_date {
    font-size: 10px;
  }
}
