/* minimalistic styling for totoweb */

button {
  margin-left: 3px;
  margin-right: 3px;
}

.tdone label::before {
  content:"\2714\0020";
  color: green;
}

.tndone  label::before {
  content:"\2005\2005\2004\0020";
}

.margin {
  flex: 25%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

.rbold {
    font-size: 14px;
    font-family: monospace;
    color: maroon;
    text-align: center;
}

.gbold {
    font-size: 14px;
    font-family: monospace;
    color: green;
    text-align: center;
}

.black {
    font-size: 14px;
    font-family: monospace;
    text-align: center;
}

.green {
    font-family: monospace;
    color: green;
    text-align: center;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   font-style: italic;
   font-size: 14px;
   color: gray;
   background-color: white;
}

.nobreak {
  white-space: nowrap;
}

input[type="text"], select {
  text-align: center;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-color: lightgray;
}

input[type="text"]:hover, select:hover {
  border-color: red;
  color: maroon;
}

button {
  background-color: white;
  color: green;
  border-radius: 2px;
  border: 1px solid green;
  transition-duration: 0.3s;
}

button:hover {
  background-color: green;
  color: white;
}

button[id^='edit_'] {
  border: 1px solid blue;
}

button[id^='edit_']:hover {
  background-color: lightblue;
  color: white;
}

button[id^='state_'] {
  border: 1px solid green;
}

button[id^='state_']:hover {
  background-color: lightgreen;
  color: white;
}

button[id^='del_'] {
  border: 1px solid red;
}

button[id^='del_']:hover {
  background-color: pink;
  color: white;
}
