* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#datetime {
  margin-top: 15px;
  font-size: 14px;
  font-family: monospace;
  color: green;
  text-align: center;
}

body {
  position: absolute;
  bgcolor=white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#div_content, #rain_parent, #snow_parent {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 28px;
  white-space: nowrap;
  color: darkcyan;
}

#div_content i{
  font-size: 10px;
  font-weight: normal;
  white-space: nowrap;
  color: gray;
}

span {
  font-weight: normal;
  color: dimgray;
}

#info {
  color: maroon;
  align-items: center;
}

#weather_icon {
  width: 150;
  height: auto;
}

input[type="text"], select {
  text-align: center;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-color: lightgray;
  font-family: sans-serif;
  font-style: oblique;
  width: 225px;
  height: 25px;
}

input[type="text"]:hover, select:hover {
  border-color: red;
  color: maroon;
}

button {
  background-color: white;
  font-variant: small-caps;
  color: green;
  border-radius: 2px;
  border: 1px solid green;
  transition-duration: 0.3s;
  width: 60px;
  height: 25px;
}

button:hover {
  background-color: green;
  color: white;
}

#footer {
  text-align: center;
  font-family: monospace;
}

#footer a{
  text-decoration: none;
  color: teal;
}
