* {
    user-select: none;
    line-height: 1.5;
    font-family: Laila;
    font-size: small;
}

body {
    display: grid;
    align-items: center;
    height: 95vh;
}

#date_info {
    color: darkblue;
}

#date>span {
    font-weight: bold;
    text-decoration: underline;
}

#all_events {
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    flex-direction: column;
}

.national {
    color: rgb(var(--bs-danger-rgb));
}

.specific {
    color: rgb(var(--bs-primary-rgb));
}

.display-6 {
    font-weight: bolder;
}

#ltopic,
#ntopic,
#itopic,
#otopic,
#snstopic,
#phtopic {
    font-variant: small-caps;
    /* text-decoration: underline; */
    font-weight: bold;
}

#lunar_mark {
    color: white;
    background-color: purple;
}

#lunar_events {
    color: purple;
}

#national_event {
    color: rgb(var(--bs-success-rgb));
}

#international_event {
    color: rgb(var(--bs-info-rgb));
}

#other_event {
    color: rgb(var(--bs-danger-rgb));
}

#solar_ns_event {
    color: rgb(var(--bs-secondary-rgb));
}

#public_holiday_box {
    display: flex;
    justify-content: space-around;
}

#sunrise_sunset_info {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

#controls {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: clamp(0.60rem, 2.0vw, 0.75rem);
    background-color: white;
    color: gray;
    text-decoration: none;
}

#mobile_controls {
    display: none !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: clamp(0.60rem, 2.0vw, 0.75rem);
    background-color: white;
    color: gray;
    text-decoration: none;
}

#controls>div>a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold
}

#mobile_controls>div>a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold
}

@media screen and (max-width: 400px) {
    #controls {
        display: none !important;
    }

    #mobile_controls {
        display: flex !important;
    }
}